{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


<div class="example-wrapper ">
    <h1 class="font-family-lemon" >Post {{post.id}} Detail Page</h1>


 <div class="card text-center myCard myCard-detail">
  <div class="card-header">
    
    <h2 class="card-title">
    <strong>{{post.title}}</strong></h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.body}}</p>
    
  </div>
  <div class="card-footer text-muted">
    

        
            {% for user in users %}

                {% if (user.id) == (post.userId) %}

    {{user.name}}
                {% endif %}

            {% endfor %}
  </div>
</div>


<br><br>
<h3>Comments <span class="badge text-bg-primary">{{comments |length}}</span></h3>
<ul class="list-group m">

{% for comment in comments %}
  


<li>
<div class="card commentCard" >
  <div class="card-body">
    <h5 class="card-title">{{comment.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">User : {{comment.email}}</h6>
    <p class="card-text">{{comment.body}}</p>
    -
  </div>
</div>
</li>
 {% endfor %}
</ul>
</div>
{% endblock %}
